<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>
<style>
    .logo {
    width: 200px;
    height: auto;
    margin-bottom: -100px;
    margin-top: -80px;
  }
</style>

<body>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
           <% if (success && success.length > 0) { %>
              <div class="alert alert-success"><%= success[0] %></div>
            <% } %>
            <% if (error && error.length > 0) { %>
              <div class="alert alert-danger"><%= error[0] %></div>
            <% } %>
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand">
              <img src="/assets/logo.png" alt="logo" class="logo shadow-light rounded-circle">
            </div>

            <div class="card card-primary">
              <div class="card-header"><h4>Login to TalkDesk</h4></div>

              <div class="card-body">
                <form id="loginForm" method="POST">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" name="email" required autofocus>
                    <span class="text-danger small" id="error_email"></span>
                  </div>

                  <div class="form-group">
                    <div class="d-block">
                      <label for="password" class="control-label">Password</label>
                      <div class="float-right">
                        <a href="/forgot-password" class="text-small">
                          Forgot Password?
                        </a>
                      </div>
                    </div>
                    <input id="password" type="password" class="form-control" name="password" required>
                    <span class="text-danger small" id="error_password"></span>
                  </div>

                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="remember" class="custom-control-input" id="remember-me">
                      <label class="custom-control-label" for="remember-me">Remember Me</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                      Login
                    </button>
                  </div>
                </form>

               
              </div>
            </div>
            <div class="mt-5 text-muted text-center">
              Don't have an account? <a href="/register-company">Create One</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <%- include('../../partials/script') %>

 
</body>
</html>
